name: Dump GitHub Context

on:
  push:
    branches:
      - main

jobs:
  dump_context:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        run: |
          echo "github: ${{ toJSON(github) }}"
          echo "env: ${{ toJSON(env) }}"
          echo "job: ${{ toJSON(job) }}"
