name: Hello World Workflow

on:
  push:
    branches:
    - main

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
    - name: hello world
      run: echo "Hello World"
      shell: bash